PyPDF2
fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg2-binary
pgvector
python-multipart
python-jose[cryptography]
passlib[bcrypt]
supabase
google-generativeai
numpy
requests
python-dotenv
