fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
pdfplumber
pydantic
pydantic-settings
email-validator
python-multipart
python-jose[cryptography]
bcrypt
PyPDF2
python-docx
huggingface_hub
numpy
python-dotenv
pdf2image
pytesseract
Pillow